<a href="https://colab.research.google.com/github/Wasi12-tech/GoogleColab/blob/main/Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/Twitter_sentiment.csv')

In [ ]:
df.head(5)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [ ]:
df.isna()

          id  label  tweet
0      False  False  False
1      False  False  False
2      False  False  False
3      False  False  False
4      False  False  False
...      ...    ...    ...
31957  False  False  False
31958  False  False  False
31959  False  False  False
31960  False  False  False
31961  False  False  False

[31962 rows x 3 columns]

In [ ]:
df.isna().sum()

id       0
label    0
tweet    0
dtype: int64

In [ ]:
import nltk
nltk.download('stopwords')

import re
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
tweets = df['tweet']
tweets1 = tweets[:50]
print(tweets1)

0      @user when a father is dysfunctional and is s...
1     @user @user thanks for #lyft credit i can't us...
2                                   bihday your majesty
3     #model   i love u take with u all the time in ...
4                factsguide: society now    #motivation
5     [2/2] huge fan fare and big talking before the...
6      @user camping tomorrow @user @user @user @use...
7     the next school year is the year for exams.ð...
8     we won!!! love the land!!! #allin #cavs #champ...
9      @user @user welcome here !  i'm   it's so #gr...
10     â #ireland consumer price index (mom) climb...
11    we are so selfish. #orlando #standwithorlando ...
12    i get to see my daddy today!!   #80days #getti...
13    @user #cnn calls #michigan middle school 'buil...
14    no comment!  in #australia   #opkillingbay #se...
15    ouch...junior is angryð#got7 #junior #yugyo...
16    i am thankful for having a paner. #thankful #p...
17                               retweet if you agree!
18    its #friday! ð smiles all around via ig use...
19    as we all know, essential oils are not made of...
20    #euro2016 people blaming ha for conceded goal ...
21    sad little dude..   #badday #coneofshame #cats...
22    product of the day: happy man #wine tool  who'...
23      @user @user lumpy says i am a . prove it lumpy.
24     @user #tgif   #ff to my #gamedev #indiedev #i...
25    beautiful sign by vendor 80 for $45.00!! #upsi...
26     @user all #smiles when #media is   !! ðð...
27    we had a great panel on the mediatization of t...
28          happy father's day @user ðððð
29    50 people went to nightclub to have a good nig...
30    i have never had a chance to vote for a presid...
31      #alohafriday #time does #not #exist #positiv...
32     @user rip to the fellow nohern ireland fan wh...
33    it was a hard monday due to cloudy weather. di...
34    it's unbelievable that in the 21st century we'...
35    #taylorswift1989   bull up: you will dominate ...
36       morning~~ #travelingram #dalat   #ripinkylife
37    @user once more only one word tells it all: #p...
38    oh, #cedarpoint. waited 2 hours in the valravn...
39    i am thankful for sunshine. #thankful #positiv...
40    when you finally finish a book you've been wor...
41    yup, being a knicks fan is hard, so its easier...
42    there is life after social networking. embrace...
43    my mom shares the same bihday as @user   bihda...
44    lovely echeveria blooms#flowers #grow #gardeni...
45      i am amazing. #i_am #positive #affirmation
46    #model   i love u take with u all the time in ...
47       #whenever im   and #something goes #wrong  |
48                        feeling blue #illustration
49    the best pa about life is knowing who you are!...
Name: tweet, dtype: object

In [ ]:
for i in range(len(tweets1)):
  tweets1[i] = re.sub(r"(@[A-Za-z0–9_]+)|[^\w\s]|#|http\S+|ð", "", tweets1[i])
tweets1.head(50)

0       when a father is dysfunctional and is so sel...
1       thanks for lyft credit i cant use cause they...
2                                   bihday your majesty
3     model   i love u take with u all the time in u...
4                  factsguide society now    motivation
5     22 huge fan fare and big talking before they l...
6                        camping tomorrow        dannyâ
7     the next school year is the year for exams can...
8     we won love the land allin cavs champions clev...
9                      welcome here   im   its so gr8
10     â ireland consumer price index mom climbed fr...
11    we are so selfish orlando standwithorlando pul...
12      i get to see my daddy today   80days gettingfed
13     cnn calls michigan middle school build the wa...
14    no comment  in australia   opkillingbay seashe...
15        ouchjunior is angrygot7 junior yugyoem   omg
16    i am thankful for having a paner thankful posi...
17                                retweet if you agree
18    its friday  smiles all around via ig user  coo...
19    as we all know essential oils are not made of ...
20    euro2016 people blaming ha for conceded goal w...
21    sad little dude   badday coneofshame cats piss...
22    product of the day happy man wine tool  whos  ...
23                    lumpy says i am a  prove it lumpy
24      tgif   ff to my gamedev indiedev indiegamede...
25    beautiful sign by vendor 80 for 4500 upsideoff...
26      all smiles when media is     pressconference...
27    we had a great panel on the mediatization of t...
28                                happy fathers day
29    50 people went to nightclub to have a good nig...
30    i have never had a chance to vote for a presid...
31      alohafriday time does not exist positivevibe...
32      rip to the fellow nohern ireland fan who sad...
33    it was a hard monday due to cloudy weather dis...
34    its unbelievable that in the 21st century wed ...
35    taylorswift1989   bull up you will dominate yo...
36            morning travelingram dalat   ripinkylife
37     once more only one word tells it all photosho...
38    oh cedarpoint waited 2 hours in the valravn li...
39    i am thankful for sunshine thankful positive
40    when you finally finish a book youve been work...
41    yup being a knicks fan is hard so its easier t...
42    there is life after social networking embrace ...
43    my mom shares the same bihday as    bihday sna...
44    lovely echeveria bloomsflowers grow gardening ...
45          i am amazing i_am positive affirmation
46    model   i love u take with u all the time in u...
47           whenever im   and something goes wrong
48                         feeling blue illustration
49    the best pa about life is knowing who you are ...
Name: tweet, dtype: object

In [ ]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
for i in range(len(tweets1)):
  tweets1[i] = word_tokenize(tweets1[i])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
# S1 is actual real tweet form the dataset and S2 is a random tweet to find cosine similarity
s1 = "when a father is dysfunctional and is so selfish he drags his kids into his dysfunction run"
s2 = "I am good and have a nice day"
s3 = "thanks for lyft credit i cant use cause they dont offer wheelchair vans in pdx disapointed get thanked"

In [ ]:

def cosine_distance_countvectorizer_method(s1, s2):

    # sentences to list
    allsentences = [s1, s2]

    from sklearn.feature_extraction.text import CountVectorizer
    from scipy.spatial import distance


    vectorizer = CountVectorizer()
    all_sentences_to_vector = vectorizer.fit_transform(allsentences)
    text_to_vector_v1 = all_sentences_to_vector.toarray()[0].tolist()
    text_to_vector_v2 = all_sentences_to_vector.toarray()[1].tolist()

    # distance of similarity
    cosine = distance.cosine(text_to_vector_v1, text_to_vector_v2)
    print('Similarity of two dataset are equal to ',round((1-cosine)*100,2),'%')
    return cosine

In [ ]:
print(cosine_distance_countvectorizer_method(s1, s2))

Similarity of two dataset are equal to  9.13 %
0.9087129070824723